<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GENERATED PASSWORD</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" >
</head>
<body>
   <div class="container">
       <div class="jumbotron">
           <a class="btn btn-secondary" href="{% url 'home' %}">HOME</a></a> <center>
               <h2> Your Password Is </h2>
                <h2 class="alert alert-primary">{{ password }}</h2>
           </center>
       </div>
   </div>
</body>
</html>